src/main/resources/schema/module-schema-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           version="1.0">

    <!-- ============================
         SIMPLE TYPES (patterns/enums)
         ============================ -->

    <xs:simpleType name="ModuleKeyType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z][a-z0-9_-]{1,63}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ProviderKeyType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z][a-z0-9_-]{1,63}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="SemVerType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]+\.[0-9]+\.[0-9]+(-[0-9A-Za-z.-]+)?"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FieldKeyType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z][a-z0-9_]{1,63}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="EnumKeyType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9_]{1,63}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="JsonPointerType">
        <xs:restriction base="xs:string">
            <xs:pattern value="/.*"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:simpleType name="MinAppVersionType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]+\.[0-9]+\.[0-9]+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="FieldType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TEXT"/>
            <xs:enumeration value="NUMBER"/>
            <xs:enumeration value="DATE"/>
            <xs:enumeration value="BOOLEAN"/>
            <xs:enumeration value="ENUM"/>
            <xs:enumeration value="TAGS"/>
            <xs:enumeration value="LINK"/>
            <xs:enumeration value="JSON"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="StateKeyType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z][A-Z0-9_]{1,63}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="IdentifierType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ISBN10"/>
            <xs:enumeration value="ISBN13"/>
            <xs:enumeration value="UPC"/>
            <xs:enumeration value="EAN"/>
            <xs:enumeration value="ASIN"/>
            <xs:enumeration value="CUSTOM"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="WorkflowStepType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="PROMPT"/>
            <xs:enumeration value="PROMPT_ANY"/>
            <xs:enumeration value="LOOKUP_METADATA"/>
            <xs:enumeration value="APPLY_METADATA"/>
            <xs:enumeration value="SAVE_ITEM"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Optional transform keys (you can expand later; or change to xs:string if you want free-form) -->
    <xs:simpleType name="TransformType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TRIM"/>
            <xs:enumeration value="JOIN_COMMA"/>
            <xs:enumeration value="FIRST"/>
            <xs:enumeration value="TO_INT"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- ============================
         EXTENSIONS (forward-compatible bag)
         ============================ -->
    <xs:complexType name="extensionsType">
        <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ============================
         META
         ============================ -->
    <xs:complexType name="authorType">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="email" type="xs:string" use="optional"/>
        <xs:attribute name="url" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="metaType">
        <xs:sequence>
            <xs:element name="authors" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="author" type="authorType" minOccurs="1" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="license" type="xs:string" minOccurs="0"/>
            <xs:element name="homepage" type="xs:string" minOccurs="0"/>
            <xs:element name="repository" type="xs:string" minOccurs="0"/>
            <xs:element name="icon" type="xs:string" minOccurs="0"/>

            <xs:element name="tags" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tag" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="minAppVersion" type="MinAppVersionType" minOccurs="0"/>

            <xs:element name="extensions" type="extensionsType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ============================
         STATES
         ============================ -->
    <xs:complexType name="stateType">
        <xs:sequence>
            <xs:element name="extensions" type="extensionsType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="key" type="StateKeyType" use="required"/>
        <xs:attribute name="label" type="xs:string" use="required"/>
        <xs:attribute name="order" type="xs:int" use="optional"/>
        <xs:attribute name="active" type="xs:boolean" use="optional"/>
        <xs:attribute name="deprecated" type="xs:boolean" use="optional"/>
    </xs:complexType>

    <!-- ============================
         PROVIDERS
         ============================ -->
    <xs:complexType name="providerType">
        <xs:sequence>
            <xs:element name="supports" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="identifier" minOccurs="1" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:attribute name="type" type="IdentifierType" use="required"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="priority" type="xs:int" minOccurs="0"/>
            <xs:element name="extensions" type="extensionsType" minOccurs="0"/>
        </xs:sequence>

        <xs:attribute name="key" type="ProviderKeyType" use="required"/>
        <xs:attribute name="enabled" type="xs:boolean" use="optional"/>
    </xs:complexType>

    <!-- ============================
         FIELDS + SUBSTRUCTURES
         ============================ -->

    <xs:complexType name="enumValueType">
        <xs:attribute name="key" type="EnumKeyType" use="required"/>
        <xs:attribute name="label" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="constraintsType">
        <xs:attribute name="min" type="xs:decimal" use="optional"/>
        <xs:attribute name="max" type="xs:decimal" use="optional"/>
        <xs:attribute name="minLength" type="xs:int" use="optional"/>
        <xs:attribute name="maxLength" type="xs:int" use="optional"/>
        <xs:attribute name="pattern" type="xs:string" use="optional"/>
        <xs:attribute name="multi" type="xs:boolean" use="optional"/>
        <xs:attribute name="uniqueWithinCollection" type="xs:boolean" use="optional"/>
    </xs:complexType>

    <xs:complexType name="uiHintsType">
        <xs:attribute name="widget" type="xs:string" use="optional"/>
        <xs:attribute name="placeholder" type="xs:string" use="optional"/>
        <xs:attribute name="helpText" type="xs:string" use="optional"/>
        <xs:attribute name="group" type="xs:string" use="optional"/>
        <xs:attribute name="hidden" type="xs:boolean" use="optional"/>
    </xs:complexType>

    <xs:complexType name="providerMappingType">
        <xs:attribute name="provider" type="ProviderKeyType" use="required"/>
        <xs:attribute name="path" type="JsonPointerType" use="required"/>
        <xs:attribute name="transform" type="TransformType" use="optional"/>
    </xs:complexType>

    <xs:complexType name="fieldType">
        <xs:sequence>

            <!-- identifiers -->
            <xs:element name="identifiers" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="identifier" minOccurs="1" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:attribute name="type" type="IdentifierType" use="required"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- enumValues -->
            <xs:element name="enumValues" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="value" type="enumValueType" minOccurs="1" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- constraints + ui -->
            <xs:element name="constraints" type="constraintsType" minOccurs="0"/>
            <xs:element name="ui" type="uiHintsType" minOccurs="0"/>

            <!-- providerMappings -->
            <xs:element name="providerMappings" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="map" type="providerMappingType" minOccurs="1" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <!-- defaultValue (kept loose for v1; you can treat it as JSON literal or string in compiler) -->
            <xs:element name="defaultValue" type="xs:string" minOccurs="0"/>

            <xs:element name="extensions" type="extensionsType" minOccurs="0"/>
        </xs:sequence>

        <xs:attribute name="key" type="FieldKeyType" use="required"/>
        <xs:attribute name="label" type="xs:string" use="required"/>
        <xs:attribute name="type" type="FieldType" use="required"/>

        <xs:attribute name="required" type="xs:boolean" use="optional"/>
        <xs:attribute name="searchable" type="xs:boolean" use="optional"/>
        <xs:attribute name="filterable" type="xs:boolean" use="optional"/>
        <xs:attribute name="sortable" type="xs:boolean" use="optional"/>

        <xs:attribute name="order" type="xs:int" use="optional"/>
        <xs:attribute name="active" type="xs:boolean" use="optional"/>
        <xs:attribute name="deprecated" type="xs:boolean" use="optional"/>
    </xs:complexType>

    <!-- ============================
         WORKFLOWS
         ============================ -->

    <xs:complexType name="workflowStepType">
        <xs:sequence>
            <xs:element name="extensions" type="extensionsType" minOccurs="0"/>
        </xs:sequence>

        <xs:attribute name="type" type="WorkflowStepType" use="required"/>

        <!-- PROMPT -->
        <xs:attribute name="field" type="FieldKeyType" use="optional"/>
        <xs:attribute name="label" type="xs:string" use="optional"/>

        <!-- PROMPT_ANY (loose string list; compiler parses it) -->
        <xs:attribute name="fields" type="xs:string" use="optional"/>

        <!-- LOOKUP_METADATA (loose string list; compiler parses it) -->
        <xs:attribute name="providers" type="xs:string" use="optional"/>
    </xs:complexType>

    <xs:complexType name="workflowType">
        <xs:sequence>
            <xs:element name="step" type="workflowStepType" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="extensions" type="extensionsType" minOccurs="0"/>
        </xs:sequence>

        <xs:attribute name="key" type="ModuleKeyType" use="required"/>
        <xs:attribute name="label" type="xs:string" use="required"/>
    </xs:complexType>

    <!-- ============================
         ROOT MODULE
         ============================ -->

    <xs:element name="module">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="name" type="xs:string"/>
                <xs:element name="description" type="xs:string" minOccurs="0"/>

                <xs:element name="meta" type="metaType" minOccurs="0"/>

                <!-- STATES (required by contract) -->
                <xs:element name="states" minOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="state" type="stateType" minOccurs="1" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="providers" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="provider" type="providerType" minOccurs="1" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- FIELDS (required by contract) -->
                <xs:element name="fields" minOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="field" type="fieldType" minOccurs="1" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="workflows" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="workflow" type="workflowType" minOccurs="1" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="extensions" type="extensionsType" minOccurs="0"/>
            </xs:sequence>

            <xs:attribute name="key" type="ModuleKeyType" use="required"/>
            <xs:attribute name="version" type="SemVerType" use="required"/>
        </xs:complexType>

        <!-- Uniqueness constraints -->
        <xs:unique name="uniq_state_key">
            <xs:selector xpath="states/state"/>
            <xs:field xpath="@key"/>
        </xs:unique>

        <xs:unique name="uniq_provider_key">
            <xs:selector xpath="providers/provider"/>
            <xs:field xpath="@key"/>
        </xs:unique>

        <xs:unique name="uniq_field_key">
            <xs:selector xpath="fields/field"/>
            <xs:field xpath="@key"/>
        </xs:unique>

    </xs:element>

</xs:schema>